################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThreadPool++/ThreadPool++/.vs
/ThreadPool++/ThreadPool++/CMakeFiles
/ThreadPool++/ThreadPool++/Debug
/ThreadPool++/ThreadPool++/out/build
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Debug
/ThreadPool++/ThreadPool++/x64/Debug/ZERO_CHECK
/ThreadPool++/ThreadPool++/ALL_BUILD.vcxproj
/ThreadPool++/ThreadPool++/ZERO_CHECK.vcxproj
/ThreadPool++/ThreadPool++/ZERO_CHECK.vcxproj.filters
/ThreadPool++/ThreadPool++.dir/Debug
/ThreadPool++/ThreadPool++/CMakeCache.txt
/ThreadPool++/ThreadPool++/Release
/ThreadPool++/ThreadPool++/Release/ThreadPool++.exe
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/.d.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.cpp.ifc.dt.d.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.cpp.ifc.dt.module.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.cpp.ifc.dt.module.json.command
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/threadpool++.cpp.module.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.exe.recipe
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.h_472BE08F29F6A74.ifc.dt.d.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.h_472BE08F29F6A74.ifc.dt.module.json
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.h_472BE08F29F6A74.ifc.dt.module.json.command
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.log
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.obj
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/CL.command.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/Cl.items.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/CustomBuild.command.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/CustomBuild.read.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/CustomBuild.write.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/link.command.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/link.read.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/link.secondary.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/link.write.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++.tlog/ThreadPool++.lastbuildstate
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++_MD.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++_MD.tlog/CL.command.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
/ThreadPool++/ThreadPool++/ThreadPool++.dir/Release/ThreadPool++_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/ThreadPool++/ThreadPool++/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/ThreadPool++/ThreadPool++/ZERO_CHECK.vcxproj.user
/ThreadPool++/ThreadPool++/.vscode
/ThreadPool++/ThreadPool++/x64/Debug/ALL_BUILD
/ThreadPool++/ThreadPool++/ThreadPool++.dir/RelWithDebInfo
ThreadPool++/ThreadPool++/ThreadPool++.h.gch
ThreadPool++/ThreadPool++/ThreadPool++
ThreadPool++/ThreadPool++/a.out
.vscode/launch.json
.vscode/tasks.json
